@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.icon-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.title-info {
  font-size: 25px;
  text-align: center;
}

.details-info {
  width: 100%;
  margin: auto;
}

.list-info {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  font-size: 13px;
  justify-content: space-around;
  width: 50%;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 5px;
  gap: 5px;
}

.description {
  width: 90%;
  margin: auto;  
}

.description-title {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.desc {
  color: #717171;
  font-size: 12px;
  text-align: left;
}

.description-title {
  font-size: 14px;
  margin-top: 5px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.miniAvatar-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.miniAvatar-title {
  font-size: 12px;
  margin: 0;
  margin-top: 8px;
  justify-self: center;  
}

.miniAvatar-text {
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 0;
}

.button-buy {
  margin-top: 15px;
  text-align: center;
}

.loading {
  height: 50vh;
  background: black;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

